/*
font-family: 'Open Sans Condensed';

*/


.tx_branco{
    color: #fff !important;
}
.bk_branco{
    background-color: #fff !important;
}
.conteudo{
    padding: 60px 15px;
}
#evento a:hover .item_evento {
    border-bottom: 1px solid red;
}
.item_evento {
    margin: 10px;
    padding: 20px;
}
.openCon{
    font-family: 'Open Sans Condensed';
}

* a {
    text-decoration: none !important;
    color: #000;
}
* a:hover {
    text-decoration: none !important;
    color: #000;
}
body{
    margin-top: 77px;
    background-color: #E0E4CC;
}
#menu{
    position: fixed;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    top: 0;
}
#logo img{
    float: left;
    width: 170px;
}
#menu .navbar-default {
    background-color: transparent;
    border: none;
}
#menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #023378;
}
#menu .navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
#menu .navbar-default .navbar-brand {
    color: #000;
}
#menu .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: #023378;
}
#banner_home img{
    width: 100% !important;
}
#noticia{
    width: 100%;
}
#foot{
    background-color: #484848;
    height: 50px;
    margin-top: 45px;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    font-family: 'Open Sans Condensed';
}
#noticias_home img{
    width: 100% !important;
}
#noticias_home .item{
    padding: 10px;
}
#banner_home .owl-next{
    float: right;
    margin-right: 50px;
}
#banner_home .owl-prev{
    float: left;
    margin-left: 50px;
}
#banner_home .owl-buttons{
    margin-top: -15%;
}
#banner_home .owl-prev:hover,
#banner_home .owl-buttons:hover{
    background-color: red !important;
}
#banner_home{
    display: inline-block !important;
}
.link_rap h1{
    line-height: 100px;
    vertical-align: middle;
}
.link_rap span{
    text-align: center;
    display: block;
    /* margin-top: 45px; */
    font-size: 80px;
}
.link_rap .itens{

}
.navbar-header span{
    color:#fff;
}
.owl-theme .owl-controls .owl-page span{
    background-color: #FA6900;

}
#banner_home .owl-pagination {
    margin-top: -30px;
    z-index: 99;
    position: relative;
}
#noticia{
    margin-top: 100px;
    background-image: url('../img/news2_banner.jpg');
}
#noticia .item{
    background-color: #fff;
    margin: 0px 10px;
}
.link_rap a {
    padding-top: 40px;
    text-align: center;
    display: block;
    background-color: #69D2E7;
    /* border-radius: 50%;
    height: 120px;
     width: 120px;*/
    margin: 0 auto;
    font-size: 25px;
    line-height: 120px;
    color: #fff;
    vertical-align: middle;
}
.link_rap a:hover{
    background-color: #FA6900;
    color: #000;

}


.link_rap p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;


}
.link_rap a:hover p{
}
#banner_home .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;

    margin-left: 79px;
    top: 4px;
    margin: 10px;
    padding: 11px 18px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0px;
    background: #002F75;
    filter: Alpha(Opacity=50);
    z-index: 9999;
    opacity: 0.5;
}
.navbar-nav > li:hover > a {
    color: #fff !important;
    font-size: 28px;
    border-bottom: 2px solid #FA6900;
    background-color:  #F38630;
}
.navbar-nav > li:hover {
    background-color:  #F38630;
}

.navbar-nav > li > a {
    font-weight: 600;
    border-bottom: 2px solid #F38630;
}
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
    #menu .navbar-default {
        background-color: #fff;
        border: none;
    }

}
@media (max-width: 767px) {
    #menu{
        position: inherit;
        width: 100%;
    }
    #menu .navbar-default {
        background-color: #fff;
        border: none;
    }
}

